* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: sans-serif;
    outline: none;
}

.header {
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgb(128, 90, 67);
    z-index: 1;
}

.container {
    min-width: 10rem;
    max-width: 75rem;
    margin: auto;
    padding: 0 1rem;
}

.container--bookReservation {
    max-width: 44rem;
    text-align: center;
    padding: 3rem 1rem;
}

.container--aboutUs {
    max-width: 44rem;
    text-align: center;
    padding: 3rem 1rem;
}

.container--video {
    max-width: 44rem;
    padding: 5rem 1rem;
}

.container--bread {
    padding: 13rem 1rem;
}

.container--bakery {
    padding: 3rem 1rem;
}

.container--contact {
    max-width: 44rem;
    background-color: #bca070;
    padding: 0;
}

.container--footer {
    padding: 9rem 1rem 2rem;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
}

.navigation__logo {
    display: block;
    background-image: url(../img/logo.png);
    height: 2rem;
    width: 9rem;
    background-repeat: no-repeat;
}

.navigation__list {
    display: none;
    justify-content: space-between;
    flex-basis: 60%;
}

.navigation__link {
    color: #000000;
    text-transform: capitalize;
    font-size: 1.25rem;
    cursor: pointer;
}

.navigation__link:hover {
    color: #ffffff;
}

.main {
    padding-top: 5rem;
}

#bookReservation {
    background-image: url(../img/banner-bg.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.bookReservation__title {
    font-size: 1.75rem;
    color: #ffffff;
}

.bookReservation__description {
    font-size: 1.25rem;
    color: #ffffff;
    margin: 1rem auto;
    font-weight: 100;
    max-width: 13rem;
}

.bookReservation__button {
    display: block;
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #3f9d54;
    padding: 1rem 0;
    width: fit-content;
    margin: auto;
    border: 0.125rem dotted transparent;
    cursor: pointer;
    font-weight: 400;
    border-radius: 0.25rem;
    min-width: 100%;
}

.bookReservation__button:hover {
    background-color: rgba(63, 157, 84, 0.81);
    border-color: #ffffff;
}

.aboutUs__title {
    font-size: 2rem;
    color: #000000;
    text-transform: capitalize;
    font-weight: 100;
}

.aboutUs__description {
    font-size: 1.25rem;
    color: #000000;
    margin-top: 1rem;
    font-weight: 100;
}

#video {
    background-image: url(../img/video-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

.video__iframe {
    min-width: 100%;
    min-height: 100%;
}

#bread {
    background-image: url(../img/bread-sec-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

.bread__button {
    border: .125rem solid #ffffff;
    padding: 1rem;
    display: block;
    max-width: fit-content;
    margin: auto;
    text-transform: uppercase;
    color: #ffffff;
    border-radius: .25rem;
    font-weight: 700;
    font-size: 1.5rem;
}

#bakery {
    text-align: center;
}

.bakery__list {
    display: grid;
    grid-row-gap: 1rem;
    justify-content: space-between;
    margin-top: 3rem;
}

.bakery__item {
}

.bakery__img {
    min-height: 17.5rem;
    background-color: #bca070;
    background-position: center;
    background-size: cover;
    border-radius: .25rem;
}

.bakery__img--kneading {
    background-image: url(../img/bread-1.jpg);
}

.bakery__img--brownBread {
    background-image: url(../img/bread-2.jpg);
}

.bakery__img--oliveBread {
    background-image: url(../img/bread-3.jpg);
}

.bakery__img--ryeBread {
    background-image: url(../img/bread-4.jpg);
}

.bakery__img--baguette {
    background-image: url(../img/bread-5.jpg);
}

.bakery__img--breads {
    background-image: url(../img/bread-6.jpg);
}

.bakery__subtitle {
    text-transform: capitalize;
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 100;
}

.bakery__description {
    font-size: 1rem;
    font-weight: 100;
}

.footer__title {
    text-transform: capitalize;
    text-align: center;
    color: #ffffff;
    margin-bottom: 2rem;
    font-size: 2rem;
    font-weight: 100;
}

#pastry {
    background-image: url(../img/pastry-sec-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

#pasties {
    text-align: center;
}

.pasties__img--cherryPastry {
    background-image: url(../img/pastry-1.jpg);
}

.pasties__img--strawberryTart {
    background-image: url(../img/pastry-2.jpg);
}

.pasties__img--jellyDonut {
    background-image: url(../img/pastry-3.jpg);
}

.pasties__img--vanilaPastry {
    background-image: url(../img/pastry-4.jpg);
}

.pasties__img--grapesPastry {
    background-image: url(../img/pastry-5.jpg);
}

.pasties__img--croissant {
    background-image: url(../img/pastry-6.jpg);
}

#cafe {
    background-image: url(../img/cafe-sec-bg.jpg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-attachment: fixed;
}

#caffe {
    text-align: center;
}

.caffe__img--coffe {
    background-image: url(../img/cafe-1.jpg);
}

.caffe__img--deliciousLunch {
    background-image: url(../img/cafe-2.jpg);
}

.caffe__img--breakfast {
    background-image: url(../img/cafe-3.jpg);
}

.caffe__img--coffeBread {
    background-image: url(../img/cafe-4.jpg);
}

.caffe__img--donut {
    background-image: url(../img/cafe-5.jpg);
}

.caffe__img--freshFood {
    background-image: url(../img/cafe-6.jpg);
}

#contact {
    position: relative;
    top: 6.75rem;
    margin-top: -6.75rem;
    padding: 0 1rem;
}

.contact__title {
    color: #ffffff;
    text-align: center;
    font-weight: 400;
    font-size: 1.75rem;
    padding: 1rem 0;
}

.contact__form {
    border-top: .0625rem solid #77623f;
}

.contact__input {
    border: none;
    background-color: #bca070;
    border-bottom: .0625rem solid #77623f;
    font-size: 1.125rem;
    padding: 1.25rem 1rem;
    outline: none;
    width: 100%;
    font-weight: 100;
}

.contact__input::placeholder {
    color: #77623f;
}

.contact__textarea {
    border: none;
    background-color: #bca070;
    outline: none;
    font-size: 1.125rem;
    padding: 1rem;
    width: 100%;
    font-weight: 100;
}

.contact__textarea::placeholder {
    color: #77623f;
}

.contact__submit {
    border: none;
    background-color: #bca070;
    padding: 1.5rem 0;
    width: 100%;
    border-top: .0625rem dashed #77623f;
}

.contact__button {
    display: block;
    font-size: 1.25rem;
    color: #ffffff;
    background-color: #3f9d54;
    padding: 1rem 4rem;
    width: fit-content;
    margin: auto;
    border: .125rem dotted transparent;
    cursor: pointer;
    font-weight: 400;
    border-radius: .25rem;
    text-transform: capitalize;
}

.contact__button:hover {
    background-color: rgba(63, 157, 84, 0.81);
    border-color: #ffffff;
}

.footer {
    background-color: rgb(128, 90, 67);
}

.footer__list {
    color: #ffffff;
    text-align: center;
    display: grid;
    grid-row-gap: 1rem;
}

.footer__item {
    text-transform: capitalize;
}

.footer__subtitle {
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.footer__description {
    margin-bottom: .5rem;
}

.footer__description:last-child {
    margin-bottom: 0;
}

.footer__description--email {
    text-transform: lowercase;
}

@media all and (min-width: 768px) {
    .navigation__list {
        display: flex;
    }

    .bookReservation__title {
        font-size: 4.25rem;
    }

    .bookReservation__description {
        margin: 2rem auto;
        max-width: unset;
    }

    .bookReservation__button {
        min-width: unset;
        border-radius: .375rem;
        font-size: 1.625rem;
        padding: 1.5rem 3rem;
    }

    .aboutUs__title {
        font-size: 4rem;
    }

    .aboutUs__description {
        font-size: 1.5rem;
        padding: 0 4rem;
    }

    .video__iframe {
        min-height: unset;
    }

    .bakery__list {
        grid-template-columns: 45% 45%;
        grid-row-gap: 5rem;
    }

    .contact__form {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .contact__input {
        flex-basis: 50%;
    }

    .contact__input:first-child {
        border-right: .0625rem solid #77623f;
    }

    .contact__textarea {
        flex-basis: 100%;
    }

    .contact__button {
        flex-basis: 100%;
    }

    .footer__list {
        grid-template-columns: repeat(3, 32%);
        justify-content: space-between;
    }
}

@media all and (min-width: 1024px) {

    .navigation__list {
        flex-basis: 35%;
    }

    .container--aboutUs {
        min-width: 54rem;
    }

    .bakery__list {
        grid-template-columns: 32% 32% 32%;
    }

    .container--contact {
        max-width: 54rem;
    }
}
